<div class="container">
  <hr/>
  <h1> NG- Learn</h1>
  <hr/>
  <div class="card">
    <div class="card-header">App-component :
      <span class="badge badge-dark">{{totalCount}}</span>
    </div>
    <div class="card-body">
      <app-action-button *ngFor="let n of nums"
          [value]="n" 
          (action)="incrementTotalCount($event)">
      </app-action-button>
      <div style="clear: both">
        <hr/>
        <app-count-display [value]="totalCount"></app-count-display>
      </div>
    </div>
  </div>
</div>