<div class="card">
  <div class="card-header">Product List</div>
  <div class="card-body">

    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>Name</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <!-- <td>{{product.id}}</td> -->
          <td>{{product.name}}</td>
          <td>{{product.price|currency:'INR'}}</td>
          <td><a><i class="fa fa-edit"></i></a></td>
          <td><a><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>